@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Dosis';
}
.App{
  background-color: rgb(211, 211, 211);
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 15px solid grey;
  border-right: 15px solid grey;
  border-top: 15px solid rgb(235, 235, 235);
  border-left: 15px solid  rgb(235, 235, 235);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: calc(100vh - 15px);
}
@media (max-width : 475px) {
  .App{
    overflow: hidden;
    border: none;
    width: 100vw;
    height: 100vh;
  }
  .container{
    border: none;
    z-index: 0;
  }
}

.menu{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}
